<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.business-header {
  height: 55vh;
  min-height: 300px;
  padding-bottom: 15px;
  background: center center no-repeat scroll;
  background-color:#c2d1f0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: center;
  margin: auto;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
</style>
    <title>Alumni Managment System</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Alumni Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>




<!-- Header with Background Image -->
<header class="business-header">
<div class="container">
<div class="row">
<div class="col-lg-12">       
<div class="slideshow-container">
<br>
<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1a.jpg" style="width:50%" </center>
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1b.jpg" style="width:50%"></center>
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1c.jpg" style="width:50%"></center>
  <div class="text"></div>
</div>
<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1d.jpg" style="width:50%"></center>
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1e.jpg" style="width:50%"></center>
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1f.jpg" style="width:50%"></center>
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1g.jpg" style="width:50%"></center>
  <div class="text"></div>
</div>
<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1h.jpg" style="width:50%"></center>
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1i.jpg" style="width:50%"></center>
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1j.jpg" style="width:50%"></center>
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1k.jpg" style="width:50%"></center>
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <center><img src="static/images/1l.jpg" style="width:50%"></center>
  <div class="text"></div>
</div>
<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span>
 <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
   <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span>
 <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
 
</div></div>
<br>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

          </div></br>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">About Alumni managment system</h2>
          <p>Alumni Association is an association of graduates, or broadly of former students (alumni)<br> Alumni associations are mainly organized around institution or department of institutions.<br>Alumni Association are created for arranging Activities,Networking and Reunion, Get-togethers, institute events and much more. News about alumni/ institute , Fundraising ,Memories and Recognition. The most important is that we get together back and Communicate! </p>
       
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="static/images/1.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Add Alumni Professional Details</h4>
              <p class="card-text"> This link will add an alumni Professional Details to the organisation</p>
            </div>
            <div class="card-footer">
              <a href="{{ url_for('alumni_prof') }}" class="btn btn-primary">Click here!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">.
            <img class="card-img-top" src="static/images/3.png" alt="">
            <div class="card-body">
              <h4 class="card-title">feedback</h4>
              <p class="card-text">This will give a feedback of the student attendening various events.</p>
            </div>
            <div class="card-footer">
              <a href="{{ url_for('feedback1') }}" class="btn btn-primary">Click here!</a>
            </div>
          </div>
        </div>
      

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p>
          <div class="col-sm-4 text-white"">
          <h2 class="mt-4">Contact Us</h2>
          <address>
            <strong>Don Bosco Institute of Technology, Mumbai</strong>
            <br>Premier Automobiles Road,
            <br>Opp. HDIL Premier Exotica
            <br>Kurla (w), Mumbai, Maharashtra 400070
          <br>
            Phone: 022 2504 2018
            <br>
            Email: <a href="mailto:#">www.dbit.in</a>
          </address>
          </div>
    	</p>
    	<p class="m-0 text-center text-white">Copyright &copy; DBIT 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
